In [ ]:
#For interarrival time
from scipy.stats import *
data_poisson = poisson.rvs(mu=5.6, size=19)

In [ ]:
print(data_poisson)

[8 4 4 3 6 5 6 3 4 3 8 5 4 8 5 6 4 3 6]

In [ ]:
#For service time
from scipy.stats import *
data_expon = expon.rvs(scale=0.5,loc=5,size=20)

In [ ]:
print(data_expon)

[5.05886771 5.29484742 5.03645229 5.2411334  5.70380447 7.32940772
 5.41634715 5.44252107 5.20003285 5.05446031 5.03370507 6.1686838
 5.92025608 6.53587404 5.11314699 5.03004281 5.13130735 5.27521053
 5.86940187 5.22365885]

In [ ]:
import pandas as pd
import numpy as np
import math



customer_no=pd.Series()
Interarrival_time= { }


arrival_time = pd.Series()
service_time=pd.Series()
time_service_begain=pd.Series()
waiting_time_in_queue=pd.Series()
Time_service_end=pd.Series()
Time_customer_spend_in_system=pd.Series()
Ideal_time_of_server=pd.Series()

states = pd.DataFrame({'customer no':customer_no,'Interarrival time':Interarrival_time , 'arrival time': arrival_time,'service time':service_time,
                       'time service begain':time_service_begain,'waiting time in queue':waiting_time_in_queue,
                       'Time service end':Time_service_end,
                       'Time customer spend in system':Time_customer_spend_in_system,'Ideal time of server':Ideal_time_of_server})

print(states)

Empty DataFrame
Columns: [customer no, Interarrival time, arrival time, service time, time service begain, waiting time in queue, Time service end, Time customer spend in system, Ideal time of server]
Index: []

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [ ]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
d = {'customer no': [1, 2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], 
     'Interarrivaltime': [0,8,4 ,4,3, 6, 5 ,6, 3 ,4 ,3 ,8, 5 ,4, 8, 5, 6, 4, 3, 6],
     'arrivalTime':[0,8,12,16,19,25,30,36,39,43,46,54,59,63,71,76,82,86,89,95],
     'service time':[5.09407264, 5.32469159, 5.65799185, 6.49150078, 5.13882223, 5.39244015,
 5.3192797,  5.03520079, 6.06119599, 5.33469449, 5.05028734, 5.09421206,
 5.10466445, 5.78855162, 5.8420343,  6.65996096, 6.10287063, 5.98218951,
 5.05854506, 5.34268906],
 }
df = pd.DataFrame(data=d)
df

    customer no  Interarrivaltime  arrivalTime  service time
0             1                 0            0      5.094073
1             2                 8            8      5.324692
2             3                 4           12      5.657992
3             4                 4           16      6.491501
4             5                 3           19      5.138822
5             6                 6           25      5.392440
6             7                 5           30      5.319280
7             8                 6           36      5.035201
8             9                 3           39      6.061196
9            10                 4           43      5.334694
10           11                 3           46      5.050287
11           12                 8           54      5.094212
12           13                 5           59      5.104664
13           14                 4           63      5.788552
14           15                 8           71      5.842034
15           16                 5           76      6.659961
16           17                 6           82      6.102871
17           18                 4           86      5.982190
18           19                 3           89      5.058545
19           20                 6           95      5.342689

In [ ]:
d = {'customer no': [1, 2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], 
     'Interarrival time': [0,8,4 ,4,3, 6, 5 ,6, 3 ,4 ,3 ,8, 5 ,4, 8, 5, 6, 4, 3, 6],
     'arrival time':[0,8,12,16,19,25,30,36,39,43,46,54,59,63,71,76,82,86,89,95],
     'service time':[5.09407264, 5.32469159, 5.65799185, 6.49150078, 5.13882223, 5.39244015,
 5.3192797,  5.03520079, 6.06119599, 5.33469449, 5.05028734, 5.09421206,
 5.10466445, 5.78855162, 5.8420343,  6.65996096, 6.10287063, 5.98218951,
 5.05854506, 5.34268906],
 'time service begain':[0,8,12,16,21,25,30,36,40,45,50,55,60,65,71,76,82,87,91,95]}
df = pd.DataFrame(data=d)
df

    customer no  Interarrival time  ...  service time  time service begain
0             1                  0  ...      5.094073                    0
1             2                  8  ...      5.324692                    8
2             3                  4  ...      5.657992                   12
3             4                  4  ...      6.491501                   16
4             5                  3  ...      5.138822                   21
5             6                  6  ...      5.392440                   25
6             7                  5  ...      5.319280                   30
7             8                  6  ...      5.035201                   36
8             9                  3  ...      6.061196                   40
9            10                  4  ...      5.334694                   45
10           11                  3  ...      5.050287                   50
11           12                  8  ...      5.094212                   55
12           13                  5  ...      5.104664                   60
13           14                  4  ...      5.788552                   65
14           15                  8  ...      5.842034                   71
15           16                  5  ...      6.659961                   76
16           17                  6  ...      6.102871                   82
17           18                  4  ...      5.982190                   87
18           19                  3  ...      5.058545                   91
19           20                  6  ...      5.342689                   95

[20 rows x 5 columns]

In [ ]:
sub_column = df["time service begain"] - df["arrival time"]
df["waiting_time_in_queue"] = sub_column
print(df)

    customer no  Interarrival time  ...  time service begain  waiting_time_in_queue
0             1                  0  ...                    0                      0
1             2                  8  ...                    8                      0
2             3                  4  ...                   12                      0
3             4                  4  ...                   16                      0
4             5                  3  ...                   21                      2
5             6                  6  ...                   25                      0
6             7                  5  ...                   30                      0
7             8                  6  ...                   36                      0
8             9                  3  ...                   40                      1
9            10                  4  ...                   45                      2
10           11                  3  ...                   50                      4
11           12                  8  ...                   55                      1
12           13                  5  ...                   60                      1
13           14                  4  ...                   65                      2
14           15                  8  ...                   71                      0
15           16                  5  ...                   76                      0
16           17                  6  ...                   82                      0
17           18                  4  ...                   87                      1
18           19                  3  ...                   91                      2
19           20                  6  ...                   95                      0

[20 rows x 6 columns]

In [ ]:
sum_column = df["time service begain"] + df["service time"] 
df["Time service end"] = sum_column
print(df)

    customer no  Interarrival time  ...  waiting_time_in_queue  Time service end
0             1                  0  ...                      0          5.094073
1             2                  8  ...                      0         13.324692
2             3                  4  ...                      0         17.657992
3             4                  4  ...                      0         22.491501
4             5                  3  ...                      2         26.138822
5             6                  6  ...                      0         30.392440
6             7                  5  ...                      0         35.319280
7             8                  6  ...                      0         41.035201
8             9                  3  ...                      1         46.061196
9            10                  4  ...                      2         50.334694
10           11                  3  ...                      4         55.050287
11           12                  8  ...                      1         60.094212
12           13                  5  ...                      1         65.104664
13           14                  4  ...                      2         70.788552
14           15                  8  ...                      0         76.842034
15           16                  5  ...                      0         82.659961
16           17                  6  ...                      0         88.102871
17           18                  4  ...                      1         92.982190
18           19                  3  ...                      2         96.058545
19           20                  6  ...                      0        100.342689

[20 rows x 7 columns]

In [ ]:
sub_column = df["Time service end"] - df["time service begain"]
df["Time customer spend in system"] = sub_column
print(df)

    customer no  ...  Time customer spend in system
0             1  ...                       5.094073
1             2  ...                       5.324692
2             3  ...                       5.657992
3             4  ...                       6.491501
4             5  ...                       5.138822
5             6  ...                       5.392440
6             7  ...                       5.319280
7             8  ...                       5.035201
8             9  ...                       6.061196
9            10  ...                       5.334694
10           11  ...                       5.050287
11           12  ...                       5.094212
12           13  ...                       5.104664
13           14  ...                       5.788552
14           15  ...                       5.842034
15           16  ...                       6.659961
16           17  ...                       6.102871
17           18  ...                       5.982190
18           19  ...                       5.058545
19           20  ...                       5.342689

[20 rows x 8 columns]

In [ ]:
sub_column =df["arrival time"] -  df["Time service end"]
df["Ideal_time_of_server"] = sub_column
print(df)

    customer no  ...  Ideal_time_of_server
0             1  ...             -5.094073
1             2  ...             -5.324692
2             3  ...             -5.657992
3             4  ...             -6.491501
4             5  ...             -7.138822
5             6  ...             -5.392440
6             7  ...             -5.319280
7             8  ...             -5.035201
8             9  ...             -7.061196
9            10  ...             -7.334694
10           11  ...             -9.050287
11           12  ...             -6.094212
12           13  ...             -6.104664
13           14  ...             -7.788552
14           15  ...             -5.842034
15           16  ...             -6.659961
16           17  ...             -6.102871
17           18  ...             -6.982190
18           19  ...             -7.058545
19           20  ...             -5.342689

[20 rows x 9 columns]

In [ ]:
from tabulate import tabulate   
print(tabulate([['1', 0,0,5.094073,0,0,5.094073,5.094073], 
                ['2', 8,8,5.324692,8,0, 13.324692,5.324692  ],
                ['3', 4,12,5.657992,12,0,17.657992,5.657992],
                ['4', 4,16,6.491501,16,0,22.491501,6.491501],
                ['5', 3,19,5.138822,21,2,26.138822,5.138822],
                ['6', 6,25,5.392440,25,0,30.392440,5.392440],
                ['7', 5,30,	5.319280,	30,0,35.319280,5.319280],
                ['8', 6,36,5.035201,36,0,41.035201,5.035201],
                ['9', 3,39,6.061196,40,1, 46.061196	,6.061196],
                ['10', 4,43,5.334694,45,2, 50.334694,5.334694],
                ['11', 3,46,5.050287,50,4,55.050287,5.050287],
                ['12', 8,54,5.094212,55,1,60.094212,5.094212],
                ['13', 5,59,5.104664,60,1,65.104664,5.104664],
                ['14', 4,63,5.788552,65,2, 70.788552,5.788552],
                ['15', 8,71,5.842034,71,0,76.842034,5.842034],
                ['16', 5,76,6.659961,76,0	, 82.659961,6.659961],
                ['17', 6,82,6.102871,82,0	,	 88.102871,6.102871],
                ['18', 4,86,5.982190,87,1, 92.982190,5.982190	],
                ['19', 3,89,5.058545,91,2,96.058545,5.058545	],
                ['20', 6,95,5.342689,95,0, 100.342689,5.342689	]], 
               headers=['customer no', 'Interarrival time','arrival time',
                         'service_time','time_service_begain','waiting_time_in_queue',
                         'service_end_Time','Time_customer_spend_in_system','Ideal_time_of_server'], tablefmt='orgtbl'))

|   customer no |   Interarrival time |   arrival time |   service_time |   time_service_begain |   waiting_time_in_queue |   service_end_Time |   Time_customer_spend_in_system |
|---------------+---------------------+----------------+----------------+-----------------------+-------------------------+--------------------+---------------------------------|
|             1 |                   0 |              0 |        5.09407 |                     0 |                       0 |            5.09407 |                         5.09407 |
|             2 |                   8 |              8 |        5.32469 |                     8 |                       0 |           13.3247  |                         5.32469 |
|             3 |                   4 |             12 |        5.65799 |                    12 |                       0 |           17.658   |                         5.65799 |
|             4 |                   4 |             16 |        6.4915  |                    16 |                       0 |           22.4915  |                         6.4915  |
|             5 |                   3 |             19 |        5.13882 |                    21 |                       2 |           26.1388  |                         5.13882 |
|             6 |                   6 |             25 |        5.39244 |                    25 |                       0 |           30.3924  |                         5.39244 |
|             7 |                   5 |             30 |        5.31928 |                    30 |                       0 |           35.3193  |                         5.31928 |
|             8 |                   6 |             36 |        5.0352  |                    36 |                       0 |           41.0352  |                         5.0352  |
|             9 |                   3 |             39 |        6.0612  |                    40 |                       1 |           46.0612  |                         6.0612  |
|            10 |                   4 |             43 |        5.33469 |                    45 |                       2 |           50.3347  |                         5.33469 |
|            11 |                   3 |             46 |        5.05029 |                    50 |                       4 |           55.0503  |                         5.05029 |
|            12 |                   8 |             54 |        5.09421 |                    55 |                       1 |           60.0942  |                         5.09421 |
|            13 |                   5 |             59 |        5.10466 |                    60 |                       1 |           65.1047  |                         5.10466 |
|            14 |                   4 |             63 |        5.78855 |                    65 |                       2 |           70.7886  |                         5.78855 |
|            15 |                   8 |             71 |        5.84203 |                    71 |                       0 |           76.842   |                         5.84203 |
|            16 |                   5 |             76 |        6.65996 |                    76 |                       0 |           82.66    |                         6.65996 |
|            17 |                   6 |             82 |        6.10287 |                    82 |                       0 |           88.1029  |                         6.10287 |
|            18 |                   4 |             86 |        5.98219 |                    87 |                       1 |           92.9822  |                         5.98219 |
|            19 |                   3 |             89 |        5.05854 |                    91 |                       2 |           96.0585  |                         5.05854 |
|            20 |                   6 |             95 |        5.34269 |                    95 |                       0 |          100.343   |                         5.34269 |